<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>


    <header>
        <%- include('partials/header') %>
      </header>
    
      <main id="main-container">
    
        <div id="map-container">
            <img src="<%= data.staticMapURL %>" alt="Map of the returned items from the search">
        </div>
    
        <aside id="results-container">
    
            <ul>
                <% data.list.forEach(listitem => { %>
                  <li>
                    <img src="<%= listitem.imgURL %>" height="150" width="250" alt="image related to this trail or campground"/>
                    <h2><%= listitem.name %></h2>
                    <p><%= listitem.summary %></p>
                    <p><%= listitem.length %></p>
                    <p><%= listitem.difficulty %></p>
                  </li>
                  <% }) %>
            </ul>
    
        </aside>
      
    
      </main>
    
    
     
    
      <footer>
        <%- include('partials/footer') %>
      </footer>
  
</body>
</html>