<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body id="favorites-body">
  <%- include('../partials/header') %>
  <main id="favorites-main">
    <h2 id="favorites-title">
      <span id="count"><%= trails.length %></span>
       Favorite Trails
    </h2>
    <ul id="favorites-container">
      <% trails.forEach(item => { %>
        <li class="trails fav-trails">
          <img class="trail-item" src="<%= item.img_small%>" alt="Picture of a trail">
          <h2 class="trail-item"><%= item.name %></h2>
          <p class="trail-item"><%= item.summary %></p>
          <p class="trail-item">Difficulty: <%= item.difficulty %></p>
          <p class="trail-item"><%= item.length %> miles</p>
          <button class="detail-button select-button trail-item" type="submit" onclick="location.href = '/trails/<%= item.id %>'">View Details</button>
        </li>
    <%  }); %>
      </li>
  </main>
  <footer>
    <%- include('../partials/footer') %>
  </footer>
</body>
</html>