<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body id="results-body">
    <%- include('../partials/header') %>
  <main id="results-main"> 
    <img src="<%= data.staticMapURL %>" alt="Map of the returned items from the search" id="map">
    <ul id="results-container">
    <% data.list.forEach(item => { %>
      <li class="trails">
        <img src="<%= item.imgURL %>" height="150" width="250" alt="image related to this trail or campground" class="trail-item"/>
          <h2 class="trail-item"><%= item.name %></h2>
            <p class="trail-item"><%= item.summary %></p>
            <p class="trail-item"><%= item.length %> miles</p>
            <p class="trail-item">Difficulty: <%= item.difficulty.charAt(0).toUpperCase() + item.difficulty.slice(1) %></p>
            <button class="detail-button select-button trail-item">Select This Trail</button>

            <section class="hide-me hidden-form">
              <form action="/trails" method="post" class="form-container">
                <input type='text' name='object' value='<%= JSON.stringify(item) %>' hidden='true'>
                <button type="submit" class="detail-button add-button">Add to Favorites</button>
              </form>
            </section>
      </li>
    <% }) %>
    </ul>
  </main>
  <%- include('../partials/footer') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="../../public/js/app.js"></script>
</body>
</html>