<!DOCTYPE html>
<html lang="en">
<%- include('../../partials/head') %>
<body id="details-body">

  <%- include('../../partials/header') %>

  <main id="detail-container">
      <div id="trail-detail">
        <img src="<%= result.img_small %>" alt="Image related to this trail." id="detail-image">
        <h2><%= result.name %></h2>
        <p><%= result.summary %></p>
        <p>Difficulty: <%= result.difficulty %></p>
        <p><%= result.length %> miles</p>
        <button class="detail-button"><a href="">Update Details</a></button>
        <form action="/trails/<%= result.id %>" method="post">
          <input type="hidden" name="_method" value="delete">
          <button class="detail-button">Delete Trail From Favorites</button>
        </form>
      </div>
    <section class="hide-me form-container" id="hidden-form">
      <%- include('./form', { formAction: 'update', result: result}) %>
    </section>
  </main>

  
  <%- include('../../partials/footer') %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="../../../public/js/app.js"></script>
</body>
</html>