<form id="<%= formAction %>-form" action="<%= 'update' === formAction ? `/trails/${result.id}` : 'add' %>" method="post">
  <input type="hidden" name="_method" value="<%= 'update' === formAction ? 'put' : 'post' %>">
    <input type="text" name="name" value="<%= result.name %>" required>
    <input type="text" name="summary" value="<%= result.summary %>" required>
    <input type="text" name="difficulty" value="<%= result.difficulty %>" required>
    <input type="text" name="imageURL" value="<%= result.image_url %>" required>
    <input type="text" name="length" value="<%= result.length %>" required>
    <select name="" id="shelf-dropdown">


    </select>
    <button type="submit" class="add-button">Update Book</button>
</form>